spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.type=org.apache.commons.dbcp2.BasicDataSource

#redis
spring.redis.database=0
spring.redis.host=127.0.0.1
spring.redis.port=6379
spring.redis.jedis.pool.max-wait=10000ms
spring.redis.jedis.pool.max-active=20

mybatis.configuration.map-underscore-to-camel-case=true

#微信的入口
wechat.index=

#验证完之后重定向到的前端
wechat.response-index=

#netty端口
barrage.port=8081

#弹幕间隔时间 单位 秒(s)
barrage.next-time=5

#websocket连接的uri
barrage.websocket-path=/screen

#开启颜色和字体权限需要的最低弹幕数量
barrage.open-font=1

#jwt的过时时间(s)
barrage.jwt.effectiva-time=10800

#管理的账号密码
admin.username=
admin.password=

server.port=8080
